.selected {
    font-weight: bold;
}

.preview{
	width: 600px;
    min-height: 300px;
	max-height: 500px;
	overflow: hidden;
}

.preview img{
	vertical-align: top;
}

.preview img:nth-child(1) {
	width: 20%;
}

.preview img:nth-child(2) {
	width: 33%;
}

.preview img:nth-child(3) {
	width: 45%;
}

.card {
    margin: 20px 10px;
}

.card .title {
    background-color:  #2196F3;
    color: white;
}
.card h2 {
    padding: 4px 8px;
    margin: 0;
}

.card h2 a, md-icon {
    color: white;
    text-decoration: none;
}

@media only screen and (max-width: 600px)  {
    .preview {
        width: 100%;
    }
}