body {
	font-family: 'Roboto', sans-serif;
}
a {
	text-decoration: none;
}

.correct, .correct a{
	color: green;
}

.wrong, .wrong a{
	color: red;
}

table {
	border-collapse: collapse;
}

tbody td {
	border: 1px solid #333;
	padding: 2px;
}


#preview {
	display: flex;
	flex-wrap: wrap;

}
.preview{
	width: 600px;
	max-height: 400px;
	overflow: hidden;
}

.preview a {
	font-size: 12pt;
	color: black;
	font-weight: bold;
	display: block;
	padding: 4px 0;
}

.preview img{
	vertical-align: top;
}

.preview img:nth-child(2) {
	width: 20%;
}

.preview img:nth-child(3) {
	width: 33%;
}

.preview img:nth-child(4) {
	width: 45%;
}