body {
	font-family: 'Roboto', sans-serif;
}
a {
	text-decoration: none;
}

.correct, .correct a{
	color: green;
}

.wrong, .wrong a{
	color: red;
}

table {
	border-collapse: collapse;
}

tbody td {
	border: 1px solid #333;
	padding: 2px;
}


#preview {
	display: flex;
	flex-wrap: wrap;

}
.preview{
	width: 700px;
	height: 400px;
	overflow: hidden;
}

.zoom-toggle {
	float: right;
	padding-right: 10px;
	cursor: pointer;
}

.preview-zoom {
	position: fixed;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
    background-color: rgba(255,255,255,0.8);
    z-index: 9999;
}
.preview-zoom .preview-iframes > div {
	height: 100vh;
}

.preview-zoom .preview-iframes iframe {
	height: 100% !important;
	width: 100% !important;
	transform: none !important;
}

.preview a {
	font-size: 12pt;
	color: black;
	font-weight: bold;
	padding: 4px 0;
}

.preview img{
	vertical-align: top;
}

.preview img:nth-child(1),
.preview .preview-iframes > div:nth-child(1) {
	width: 20%;
}

.preview img:nth-child(2),
.preview .preview-iframes > div:nth-child(2) {
	width: 32%;
}

.preview img:nth-child(3),
.preview .preview-iframes > div:nth-child(3) {
	width: 46%;
}

.preview-iframes > div {
    position: relative;
    height: 400px;
	overflow: auto;
	float: left;
}

.noMobile .preview-iframes > div {
	width: 100%!important;
}


.noMobile .preview{
	width: 500px;
	height: 400px;
}


.student img{
	width: 80px;

}

.commiter0 {
    background-color: #29B6F6;
}

.commiter1 {
    background-color: #B39DDB;
}

.merge {
    background-color: orange
}

.eval {
	border: 1px solid red;
    margin: 20px;
}
