<h1>Classroom Assignment moncv</h1>
<p>{{main.ghApi.rateLimit.remaining}} / {{main.ghApi.rateLimit.limit}} reset in {{main.ghApi.rateLimit.resetCoutdown()}} min</p>
<a href="https://github.com/login/oauth/authorize?client_id=0f49b767798fd5815a80&scope=read:org,repo&state=test">login</a>
<button ng-click="main.refresh()">refresh data</button>
<label><input type="checkbox" ng-model="debug"> debug</label>
<label><input type="checkbox" ng-model="showpic"> showpic</label>
<label>Feedback: <input placeholder="prefix" type="text" ng-change="main.saveProjectPrefix()" ng-model="main.classroomProjectPrefix"></label>
<button ng-click="main.clear()">clear</button>
<input type="file" custom-on-change="main.handleFileSelect" />
<div ng-if="main.evals.length > 0 || main.evalsDone.length > 0">
	<h2>Evaluations {{main.evals.length}}</h2>
	<div class="eval" ng-repeat="eval in main.evals" ng-bind-html="eval.preview"></div>
	<button ng-click="main.createIssue()">Create Issues on GitHUB</button>
	<p>Done: {{main.evalsDone.length}}</p>
	<ul>
		<li ng-repeat="done in main.evalsDone"><a ng-href="{{done.html_url}}">{{done.repo}}</a></li>
	</ul>
</div>
<h2>Checks</h2>
<table>
	<thead>
		<tr>
			<th></th>
            <th>Project</th>
			<th ng-if="debug">matricule</th>
			<th>nom</th>
			<th>master</th>
			<th>masterIsSrc</th>
			<th>gh-pages</th>
			<th ng-if="debug">status</th>
			<th>webIsDist</th>
			<th>readme</th>
			<th>2.0.0</th>
			<th>title</th>
			<th ng-if="debug">commits</th>
			<th ng-if="debug">branches</th>
			<th ng-if="debug">tags</th>
			<th ng-if="debug">style</th>
			<th>bootstrap</th>
			<th>structure/code</th>
			<th>1 jquery plugin</th>
			<th>Text readme</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="(name, a) in main.assignments">
			<td ng-click="main.refreshAssignment(a)">{{$index + 1}}</td>
            <td>{{name}}</td>
			<td ng-if="debug">
				<div class="student" ng-repeat="u in a.users">{{main.loginToMatricule(u.login)}}</div>
			</td>
			<td>
				<span class="student" ng-repeat="u in a.users |filter:noBot">{{u.name}} <span ng-if="!u.name || debug">({{u.login}})</span> <b>[{{main.commitCount(a.commits, u)}}]</b>
				    <div ng-if="showpic"><img ng-src="https://amc.ig.he-arc.ch/sdb/images/students/{{main.loginToMatricule(u.login)}}.jpg" /></div>
			</span>
			</td>

			<td ng-class="{correct: a.hasMaster, wrong: !a.hasMaster}">
				<a target="_blank" ng-href="https://github.com/heg-web/{{a.name}}/tree/master">{{a.hasMaster}}</a>
				</td>
			<td ng-class="{correct: a.isMasterSrc, wrong: !a.isMasterSrc}">
				<a target="_blank" ng-href="https://github.com/heg-web/{{a.name}}/tree/master">{{a.isMasterSrc}}</a>
				</td>
			<td ng-class="{correct: a.hasGhPages, wrong: !a.hasGhPages}">
				<a target="_blank" ng-href="https://github.com/heg-web/{{a.name}}/tree/gh-pages">{{a.hasGhPages}}</a>
			</td>
			<td ng-if="debug" ng-class="{correct: a.ghPagesStatus=='built', wrong: !a.ghPagesStatus || a.ghPagesStatus != 'built'}">
				<button ng-if="!a.ghPagesStatus && a.hasGhPages" ng-click="main.enableGHPages(a)">enable</button>{{a.ghPagesStatus}}
			</td>

			<td ng-class="{correct: a.hasVendor, wrong: !a.hasVendor}">
				<a target="_blank" ng-href="https://heg-web.github.io/{{a.name}}">{{a.hasVendor}}</a>
			</td>
			<td ng-class="{correct: a.hasReadme, wrong: !a.hasReadme}">
				<a target="_blank" ng-href="{{a.readmeUrl}}">{{a.hasReadme}}</a>
			</td>
			<td ng-class="{correct: a.hasRelease, wrong: !a.hasRelease}">
				<a target="_blank" ng-href="https://github.com/heg-web/{{a.name}}/tree/{{a.releaseSha}}">{{a.hasRelease}}</a>
			</td>
			<td>
				<a target="_blank" ng-href="https://github.com/heg-web/{{a.name}}/blob/{{a.releaseSha}}master/src/main.js">{{a.title}}</a>

			</td>
			<td ng-if="debug" ng-click="main.commiterIndex=[];main.commits=a.commits">{{a.commits.length}}</td>
			<td ng-if="debug">{{a.branches}}</td>
			<td ng-if="debug">{{a.releases}}</td>
			<td ng-if="debug">{{a.style}}</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
</table>
<div>
	<div ng-repeat="c in main.commits" class="commiter{{main.getCommiterIndex(c.commit.author.name)}}">
		<i>{{c.commit.author.name}}</i>
		{{c.commit.author.date | date}}
		<a target="_blank" ng-href="{{c.html_url}}" ng-class="{'merge': c.commit.message.indexOf('Merge') == 0}">{{c.commit.message}}</a>
	</div>
</div>
<a ng-href="{{main.getUrls()}}" download="urls.txt">download urls.txt</a>

<h2>Preview <span ng-click="main.switchPreview()">{{ main.before ? 'HTML': 'BOOTSTRAP' }}</span></h2>
<div id="preview">
	<div class="preview" ng-repeat="a in main.assignments">
		<div>
			<a target="_blank" ng-href="https://heg-web.github.io/{{a.name}}">{{a.name}} <span ng-class="{correct: a.hasVendor, wrong: !a.hasVendor}">{{a.hasVendor}}</span></a>
			<span ng-click="a.before = !a.before">{{ a.before ? 'HTML': 'BOOTSTRAP' }}</span>
		</div>
		<div ng-if="!a.before">
			<img ng-src="preview/heg-web.github.io!{{a.name}}-phone.png"/>
			<img ng-src="preview/heg-web.github.io!{{a.name}}-tablet.png"/>
			<img ng-src="preview/heg-web.github.io!{{a.name}}-desktop.png"/>
		</div>
	</div>
</div>