<h1>Classroom Assignment moncv</h1>
<p>{{main.ghApi.rateLimit.remaining}} / {{main.ghApi.rateLimit.limit}} reset in {{main.ghApi.rateLimit.resetCoutdown()}} min</p>
<a href="https://github.com/login/oauth/authorize?client_id=0f49b767798fd5815a80&scope=read:org,public_repo&state=test">login</a>
<button ng-click="main.refresh()">refresh data</button>
<label><input type="checkbox" ng-model="debug"> debug</label>
<label><input type="checkbox" ng-model="showpic"> showpic</label>
<h2>Checks</h2>
<table>
	<thead>
		<tr>
			<th></th>
			<th>nom</th>
			<th>master</th>
			<th>gh-pages</th>
			<th>webIsDist</th>
			<th>readme</th>
			<th>release 2.0.0</th>
			<th ng-if="debug">commits</th>
			<th ng-if="debug">branches</th>
			<th ng-if="debug">tags</th>
			<th>bootstrap</th>
			<th>structure/code</th>
			<th>1 jquery plugin</th>
			<th>Text readme</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="a in main.assignments">
			<td>{{$index + 1}}</td>
			<td>
				<div class="student" ng-repeat="u in a.users">{{u.name}} <span ng-if="!u.name || debug">({{u.login}})</span>
				<div ng-if="showpic"><img ng-src="{{main.loginToPic(u.login)}}" /></div></div>
			</td>

			<td ng-class="{correct: a.hasMaster, wrong: !a.hasMaster}">
				<a target="_blank" ng-href="https://github.com/heg-web/{{a.name}}/tree/master">{{a.hasMaster}}</a>
				</td>
			<td ng-class="{correct: a.hasGhPages, wrong: !a.hasGhPages}">
				<a target="_blank" ng-href="https://github.com/heg-web/{{a.name}}/tree/gh-pages">{{a.hasGhPages}}</a>
			</td>
			<td ng-class="{correct: a.hasVendor, wrong: !a.hasVendor}">
				<a target="_blank" ng-href="https://heg-web.github.io/{{a.name}}">{{a.hasVendor}}</a>
			</td>
			<td ng-class="{correct: a.hasReadme, wrong: !a.hasReadme}">
				<a target="_blank" ng-href="{{a.readmeUrl}}">{{a.hasReadme}}</a>
			</td>
			<td ng-class="{correct: a.hasRelease, wrong: !a.hasRelease}">
				<a target="_blank" ng-href="https://github.com/heg-web/{{a.name}}/tree/{{a.releaseSha}}">{{a.hasRelease}}</a>
			</td>
			<td ng-if="debug" ng-click="main.commits=a.commits">{{a.commits.length}}</td>
			<td ng-if="debug">{{a.branches}}</td>
			<td ng-if="debug">{{a.releases}}</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
</table>
<div>
	<div ng-repeat="c in main.commits">
		<i>{{c.commit.author.name}}</i>
		{{c.commit.author.date | date}}
		<a target="_blank" ng-href="{{c.html_url}}">{{c.commit.message}}</a>
	</div>
</div>
<a ng-href="{{main.getUrls()}}" download="urls.txt">download urls.txt</a>

<h2>Preview</h2>
<div id="preview">
	<div class="preview" ng-repeat="a in main.assignments">
		<a target="_blank" ng-href="https://heg-web.github.io/{{a.name}}">{{a.name}} <span ng-class="{correct: a.hasVendor, wrong: !a.hasVendor}">{{a.hasVendor}}</span></a>
		<img ng-src="preview/heg-web.github.io!{{a.name}}-320x480.png"/>
		<img ng-src="preview/heg-web.github.io!{{a.name}}-1024x768.png"/>
		<img ng-src="preview/heg-web.github.io!{{a.name}}-1600x1200.png"/>
	</div>
</div>